<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>

    <link rel="stylesheet" href="/static/app/styles/bundle.css"/>
</head>
<body>
<div id="app-container"></div>
<script>
    var $$_GLOBAL_SETTINGS = {
        primaryColor: "#{{ primary_color[2:] }}",
        namespace: "{{ namespace }}"
    };
</script>
<script src="/static/app/scripts/bundle.js"></script>
</body>
</html>
