<!DOCTYPE html>
<html>
<head>
    <title>Добавить акцию</title>
</head>
<body>
    {% include '/company/header.html' %}
    <form method="post">
        {% if promo %}
            <input type="text" value="{{ promo.key.id() }}" hidden>
        {% endif %}
        <label>
            Название:
            <input type="text" name="name" {% if promo %} value="{{ promo.title }}" {% endif %}>
        </label><br>
        <label>
            Описание:
            <input type="text" name="description" {% if promo %} value="{{ promo.description }}" {% endif %}>
        </label><br>
        <label>
            Картинка (необязательно):
            <input type="text" name="image" {% if promo %} value="{{ promo.image or '' }}"{% endif %}>
        </label><br>
        <label>
            Начало(необязательно):
            <input type="datetime-local" name="start">
        </label><br>
        <label>
            Конец(необязательно):
            <input type="datetime-local" name="end">
        </label><br>
        <input type="submit">
        <a href="/company/promos/list">Назад</a>
    </form>
</body>
</html>