<!DOCTYPE html>
<html>
<head>
    <title>Добавить</title>
</head>
<body>
    {% include '/company/header.html' %}
    <form method="post">
        <input type="text" name="promo_id" value="{{ promo.key.id() }}" hidden>
        <label>
            Метод:
            <select name="method">
                {% for method in methods %}
                  <option value="{{ method['value'] }}" {% if feature and feature.method == method['value'] %} selected {% endif %}>
                      {{ method['name'] }}
                  </option>
                {% endfor %}
            </select>
        </label><br>
        <label>
            Значение:
            <input type="number" name="value" value="{% if feature %} {{ feature.value }} {% endif %}">
        </label><br>
        {% if feature_condition %}
            <label>
                Дни для счастливых часов:
                <input type="text" name="hh_days" value="{% if feature %} {{ feature.hh_days }} {% endif %}">
            </label><br>
            <label>
                Часы для счастливых часов:
                <input type="text" name="hh_hours" value="{% if feature %} {{ feature.hh_hours }} {% endif %}">
            </label><br>
        {% endif %}
        <input type="submit">
        <a href="/company/promos/list">Назад</a>
    </form>
</body>
</html>