<!DOCTYPE html>
<html>
<head>
    <title>Добавить</title>
</head>
<body>
    {% include '/company/header.html' %}
    <form method="post">
        <label>
            Кол-во баллов:
            <input type="number" name="points">
        </label><br>
        <label>
            Промо ID:
            <input type="number" name="promo_id">
        </label><br>
        {% for category in categories %}
            <h3>{{ category.title }}</h3>
            {% for item in category.items %}
                <label class="{{ 'item_%s' % item.key.id() }}">
                    {{ item.title }}
                    <input type="checkbox" name={{ item.key.id() }}>
                </label>
                {% for modifier in item.group_modifiers %}
                    {% set modifier = modifier.get() %}
                    <select name="{{ 'modifier_%s_%s' % (item.key.id(), modifier.key.id()) }}">
                        <option value="0">
                            Без
                        </option>
                        {% for choice in modifier.choices %}
                            {% if choice.choice_id not in item.group_choice_restrictions %}
                                <option value="{{ choice.choice_id }}">
                                    {{ choice.title }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                {% endfor %}
                <br>
            {% endfor %}
        {% endfor %}
        <input type="submit">
        <a href="/company/promos/gifts/list">Назад</a>
    </form>
</body>
</html>