<!DOCTYPE html>
<html>
<head>
    <title>Акции</title>
</head>
<body>
    {% include '/company/header.html' %}
    <p>
        <u>Api ключ для накопления баллов:</u> {{ promo_api_key }}<br>
        <u>Api ключ для кошелька:</u> {{ wallet_api_key }}<br>
        <a href="/company/promos/api_keys">Изменить</a>
    </p>
    <p>
        <a href="/company/promos/gifts/list">Накопительные подарки</a>
    </p>
    <a href="/company/promos/add">Добавить</a>
    <form method="post">
        <table style="border-collapse:collapse; width:100%" border="1">
            <tr>
                <th rowspan="2">Статус</th>
                <th rowspan="2">Название</th>
                <th rowspan="2">Описание</th>
                <th colspan="3">Условия</th>
                <th colspan="3">Последствия</th>
            </tr>
            <tr>
                <th>Выберите продукт</th>
                <th>Метод</th>
                <th>Значение</th>
                <!-- -->
                <th>Выберите продукт</th>
                <th>Метод</th>
                <th>Значение</th>
            </tr>
            {% for promo in promos %}
                {% set height = promo.outcomes|length if promo.outcomes|length > promo.conditions|length
                                                      else promo.conditions|length %}
                <tr>
                    <td rowspan="{{ height + 1 }}">
                        <input type="checkbox" name={{ promo.key.id() }} {% if promo.status %} checked {% endif %}>
                    </td>
                    <td rowspan="{{ height + 1 }}">{{ promo.title }}</td>
                    <td rowspan="{{ height + 1 }}">{{ promo.description }}</td>
                    <td colspan="3">
                        <a href="{{ '/company/promos/conditions/add?promo_id=%s' % promo.key.id() }}">Добавить условие</a>
                    </td>
                    <td colspan="3">
                        <a href="{{ '/company/promos/outcomes/add?promo_id=%s' % promo.key.id() }}">Добавить последствие</a>
                    </td>
                    </tr><tr>
                    {% for index in range(height) %}
                        {% if index < promo.conditions|length %}
                            <td>
                                <a href="
                                {{ '/company/promos/choose?promo_id=%s&feature_type=0&number=%s' % (promo.key.id(), loop.index0) }}
                                ">
                                    Выбрать
                                </a>
                            </td>
                            <td>{{ condition_map[promo.conditions[index].method] }}</td>
                            <td>{{ promo.conditions[index].value_string }}</td>
                        {% else %}
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        {% endif %}
                        {% if index < promo.outcomes|length %}
                            <td>
                                <a href="
                                {{ '/company/promos/choose?promo_id=%s&feature_type=1&number=%s' % (promo.key.id(), loop.index0) }}
                                ">
                                    Выбрать
                                </a>
                            </td>
                            <td>{{ outcome_map[promo.outcomes[index].method] }}</td>
                            <td>{{ promo.outcomes[index].value if promo.outcomes[index].value else "" }}</td>
                        {% else %}
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        {% endif %}
                        </tr><tr>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <br>
        <input type="submit">
        <a href="{{ '/company/main' }}">Назад</a>
    </form>
</body>
</html>