<!DOCTYPE html>
<html>
<head>
    <title>Акции</title>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script>
         $(document).ready(function() {
            $('.up_button').click(function(e){
                e.preventDefault();
                 $.ajax({
                    type: "POST",
                    url: "{{ '/company/promos/up' }}",
                    data: {
                        promo_id: this.id
                    },
                    success: function(json) {
                        if (json.success) {
                            location.reload();
                        }
                    }
                });
            });
            $('.down_button').click(function(e){
                e.preventDefault();
                 $.ajax({
                    type: "POST",
                    url: "{{ '/company/promos/down' }}",
                    data: {
                        promo_id: this.id
                    },
                    success: function(json) {
                        if (json.success) {
                            location.reload();
                        }
                    }
                });
            });
         });
    </script>
</head>
<body>
    {% include '/company/header.html' %}
    <p>
        <u>Api ключ для накопления баллов:</u> {{ promo_api_key }}<br>
        <u>Api ключ для кошелька:</u> {{ wallet_api_key }}<br>
        <a href="/company/promos/api_keys">Изменить</a>
    </p>
    <p>
        <a href="/company/promos/gifts/list">Накопительные подарки</a>
    </p>
    <a href="/company/promos/add">Добавить</a>
    <form method="post">
        <table style="border-collapse:collapse; width:100%" border="1">
            <tr>
                <th rowspan="2">Статус</th>
                <th rowspan="2">Видимость</th>
                <th rowspan="2">Начало(utc)</th>
                <th rowspan="2">Конец(utc)</th>
                <th rowspan="2">Приоритет</th>
                <th rowspan="2">Название</th>
                <th rowspan="2">Описание</th>
                <th rowspan="2">Картинка</th>
                <th rowspan="2">Конфликты</th>
                <th colspan="3">Условия</th>
                <th colspan="3">Последствия</th>
            </tr>
            <tr>
                <th>Выберите продукт</th>
                <th>Метод</th>
                <th>Значение</th>
                <!-- -->
                <th>Выберите продукт</th>
                <th>Метод</th>
                <th>Значение</th>
            </tr>
            {% for promo in promos %}
                {% set height = promo.outcomes|length if promo.outcomes|length > promo.conditions|length
                                                      else promo.conditions|length %}
                <tr>
                    <td rowspan="{{ height + 1 }}">
                        <input type="checkbox" name={{ 'status_%s' % promo.key.id() }} {% if promo.status %} checked {% endif %}>
                    </td>
                    <td rowspan="{{ height + 1 }}">
                        <input type="checkbox" name={{ 'visible_%s' % promo.key.id() }} {% if promo.visible %} checked {% endif %}>
                    </td>
                    <td rowspan="{{ height + 1 }}">{{ promo.start_str }}</td>
                    <td rowspan="{{ height + 1 }}">{{ promo.end_str }}</td>
                    <td rowspan="{{ height + 1 }}">
                        <button class="up_button" id="{{ promo.key.id() }}">
                            Вверх
                        </button>
                        <br>
                        <button class="down_button" id="{{ promo.key.id() }}">
                            Вниз
                        </button>
                    </td>
                    <td rowspan="{{ height + 1 }}">
                        <a href="{{ '/company/promos/edit?promo_id=%s' % promo.key.id() }}">
                            {{ promo.title }}
                        </a>
                    </td>
                    <td rowspan="{{ height + 1 }}">{{ promo.description }}</td>
                    <td rowspan="{{ height + 1 }}">
                        {% if promo.image %}
                            <img src="{{ promo.image }}">
                        {% endif %}
                    </td>
                    <td rowspan="{{ height + 1 }}">
                        <a href="/company/promos/conflicts?promo_id={{ promo.key.id() }}">Конфликты</a>
                    </td>
                    <td colspan="3">
                        <a href="{{ '/company/promos/conditions/add?promo_id=%s' % promo.key.id() }}">Добавить условие</a>
                        <a href="{{ '/company/promos/conditions/happy_hours?promo_id=%s' % promo.key.id() }}">Добавить счастливые часы</a>
                    </td>
                    <td colspan="3">
                        <a href="{{ '/company/promos/outcomes/add?promo_id=%s' % promo.key.id() }}">Добавить последствие</a>
                    </td>
                    </tr><tr>
                    {% for index in range(height) %}
                        {% if index < promo.conditions|length %}
                            <td>
                                <a href="
                                {{ '/company/promos/choose?promo_id=%s&feature_type=0&number=%s' % (promo.key.id(), loop.index0) }}
                                ">
                                    {% if promo.conditions[index].item_details.item %}
                                        {{ promo.conditions[index].item_details.title }}
                                    {% else %}
                                        Выбрать
                                    {% endif %}
                                </a>
                            </td>
                            <td>{{ condition_map[promo.conditions[index].method] }}</td>
                            <td>{{ promo.conditions[index].value_string }}</td>
                        {% else %}
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        {% endif %}
                        {% if index < promo.outcomes|length %}
                            <td>
                                <a href="
                                {{ '/company/promos/choose?promo_id=%s&feature_type=1&number=%s' % (promo.key.id(), loop.index0) }}
                                ">
                                    {% if promo.outcomes[index].item_details.item %}
                                        {{ promo.outcomes[index].item_details.title }}
                                    {% else %}
                                        Выбрать
                                    {% endif %}
                                </a>
                            </td>
                            <td>{{ outcome_map[promo.outcomes[index].method] }}</td>
                            <td>{{ promo.outcomes[index].value if promo.outcomes[index].value else "" }}</td>
                        {% else %}
                            <td>---</td>
                            <td>---</td>
                            <td>---</td>
                        {% endif %}
                        </tr><tr>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <br>
        <input type="submit">
        <a href="{{ '/company/main' }}">Назад</a>
    </form>
</body>
</html>