<!DOCTYPE html>
<html>
<head>
    <title>News</title>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script>
         $(document).ready(function() {
            $('.cancel_btn').click(function(e){
                e.preventDefault();
                var cancel_btn = '#' + this.id;
                 $.ajax({
                    type: "POST",
                    url: "{{ '/company/notifications/news/cancel' }}",
                    data: {
                        news_id: this.id
                    },
                    success: function(json) {
                        if (json.success) {
                            $('.status_' + json.news_id).html(json.status_str);
                            $(cancel_btn).attr('disabled', true)
                        }
                    }
                });
            });
         });
    </script>
</head>
<body>
    {% include '/company/header.html' %}
    <p>
        <u>Текущее время в utc:</u> {{ utc_time }}
    </p>
    <a href="/company/notifications/news/add">Добавить</a>
    <table style="border-collapse:collapse; width:100%" border="1">
        <tr>
            <th>Заголовок</th>
            <th>Текст</th>
            <th>Картинка</th>
            <th>Время создания</th>
            <th>Начало</th>
            <th>Статус</th>
            <th>Отменить</th>
        </tr>
        {% for new in news %}
            <tr>
                <td>{{ new.title }}</td>
                <td>{{ new.text }}</td>
                <td>
                    <img src="{{ new.image_url }}" height="120">
                </td>
                <td>{{ new.created_str }}</td>
                <td>{{ new.start }}</td>
                <td class="{{ 'status_%s' % new.key.id() }}">{{ NOTIFICATION_STATUS_MAP[new.status] }}</td>
                <td rowspan="{{ height }}">
                    <button class="cancel_btn" id="{{ new.key.id() }}"
                                {% if new.status not in [STATUS_CREATED, STATUS_ACTIVE] %} disabled {% endif %}>
                        Отменить
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="/company/main">Назад</a>
</body>
</html>