<!DOCTYPE html>
<html>
<head>
    <title>News</title>
</head>
<body>
    {% include '/company/header.html' %}
    <a href="/company/notifications/news/add">Добавить</a>
    <table style="border-collapse:collapse; width:100%" border="1">
        <tr>
            <th>Текст</th>
            <th>Картинка</th>
            <th>Время создания</th>
            <th>Начало</th>
            <th>Конец</th>
            <th>Активность</th>
        </tr>
        {% for new in news %}
            <tr>
                <td>{{ new.text }}</td>
                <td>
                    <img src="{{ new.image_url }}" height="120">
                </td>
                <td>{{ new.created_str }}</td>
                <td>{{ new.start }}</td>
                <td>{{ new.end }}</td>
                <td>{{ new.active }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="/company/main">Назад</a>
</body>
</html>