<!DOCTYPE html>
<html>
<head>
    <title>Добавить новость</title>
</head>
<body>
    {% include '/company/header.html' %}
    <form method="post">
        <label>
            Текст:
            <input type="text" name="text" value="{% if news %} {{ news.text }} {% endif %}">
        </label><br>
        <label>
            Картинка (url):
            <input type="text" name="image_url" value="{% if news %} {{ news.image_url }} {% endif %}">
        </label><br>
        <label>
            Время начала (в utc):
            <input type="datetime-local" name="start">
        </label><br>
        <input type="submit">
        <a href="/company/notifications/news/list">Назад</a>
    </form>
    {% if error %}
        <p>
            {{ error }}
        </p>
    {% endif %}
</body>
</html>