<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% include '/company/header.html' %}
    <p>
        <b>Заказ № {{ order.key.id() }}</b>
    </p>
    <p>
        <b>Адрес:</b> {{ order.address_str }}
    </p>
    <p>
        <b>Время заказа:</b> {{ order.date_str }}<br>
        <b>Время доставки:</b> {{ order.delivery_time_str }}<br>
    </p>
    <p>
        <b>Клиент:</b> {{ '%s %s' % (order.client.name, order.client.surmame) }}<br>
        <b>Телефон:</b> {{ order.client.tel }}
    </p>
    <table style="border-collapse:collapse; width:100%" border="1">
        <tr>
            <th>Номер</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Название модификатора</th>
            <th>Цена модификатора</th>
        </tr>
        {% for item in items %}
            {% set len = item.modifiers|length if item.modifiers|length > 0 else 1 %}
            <tr>
                <td rowspan="{{ len }}">{{ loop.index }}</td>
                <td rowspan="{{ len }}">{{ item.title }}</td>
                <td rowspan="{{ len }}">{{ item.float_price }}</td>
                {% if item.modifiers %}
                    {% for modifier in item.modifiers %}
                        <td>{{ modifier.title }}</td>
                        <td>{{ modifier.float_price }}</td>
                        </tr><tr>
                    {% endfor %}
                {% else %}
                    <td>-</td>
                    <td>-</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% if user %}
        <a href="/company/delivery/orders/current">Назад</a>
    {% endif %}
</body>
</html>