<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% include '/company/header.html' %}
    <p>
        <b>Заказ № {{ order.key.id() }}</b>
    </p>
    <p>
        <b>Тип оплаты:</b> {{ order.payment_type_str }}
    </p>    
    <p>
        <b>Адрес:</b> {{ order.address_str }}
    </p>
    <p>
        <b>Cумма к оплате:</b> {{ order.total_sum - order.wallet_payment }}
            (оплачено бонусами {{ order.wallet_payment }})<br>
        <b>Сумма по меню:</b> {{ order.menu_sum }}
    </p>
    <p>
        <b>Акции:</b> {{ order.promo_text }}
    </p>
    <p>
        <b>Время заказа:</b> {{ order.date_str }}<br>
        <b>Время доставки:</b> {{ order.delivery_time_str }}<br>
    </p>
    <p>
        <b>Клиент:</b> {{ '%s %s' % (order.client.name, order.client.surmame) }}<br>
        <b>Телефон:</b> {{ order.client.tel }}<br>
        {% for key in order.client.extra_data %}
            <b>{{ key }}:</b> {{ order.client.extra_data[key] }}<br>
        {% endfor %}
        <b>Комментарий:</b> {{ order.comment }}
    </p>
    {% if venue and delivery_type_str %}
        <p>
            <b>В заведение:</b> {{ venue.title }}<br>
            <b>Тип заказа:</b> {{ delivery_type_str }}
        </p>
    {% endif %}
    <table style="border-collapse:collapse; width:100%" border="1">
        <tr>
            <th>Номер</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Название модификатора</th>
            <th>Цена модификатора</th>
            <th>Количество модификатора</th>
        </tr>
        {% for item in items %}
            {% set len = item.modifiers|length if item.modifiers|length > 0 else 1 %}
            <tr>
                <td rowspan="{{ len }}">{{ loop.index }}</td>
                <td rowspan="{{ len }}">
                    {{ item.title }}
                    {% if item.is_gift %}
                        (<b>Подарок</b>)
                    {% endif %}
                </td>
                <td rowspan="{{ len }}">{{ item.total_float_price }}</td>
                <td rowspan="{{ len }}">{{ item.amount }}</td>
                {% if item.modifiers %}
                    {% for modifier in item.modifiers %}
                        <td>{{ modifier.title }}</td>
                        <td>{{ modifier.total_float_price }}</td>
                        <td>{{ modifier.amount }}</td>
                        </tr><tr>
                    {% endfor %}
                {% else %}
                    <td>-</td>
                    <td>-</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% if user %}
        <a href="/company/delivery/orders/current">Назад</a>
    {% endif %}
    {% if cancel_url and done_url and postpone_url %}
        <a href="{{ done_url }}">Выдать</a>
        <a href="{{ cancel_url }}">Отменить</a>
        <a href="{{ postpone_url }}">Перенести на {{ minutes }} минут</a>
        {% if confirm_url %}
            <a href="{{ confirm_url }}">Подтвердить</a>
        {% endif %}
    {% endif %}
</body>
</html>