<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="white-space: pre-wrap;">
Комментарий: Номер в приложении {{ order.number }}, {% if order.delivery_type != 2 %}Заберем сами,{% endif %} {{ order.comment.replace(';', ',') }};
Курьер: ;
Выписывать чек: 0;
Отправлять смс при смене статуса: 0;
Скидка (руб): ;
Оплачен: {{ 1 if order.payment_type_id == 1 else 0 }};
Количество персон: ;
Вид оплаты: {{ order.payment_type_id }};

Заказано:{% for item in items %}
Название: {{ item.title }}, Количество: {{ item.amount }}, Цена: {{ item.float_price|int }}, Скидка (%): , Сумма: {{ item.float_price|int * item.amount }};{% endfor %}

Информация о клиенте:
---------------------
Телефон:  +{{ client.tel }} ;
Мобильный: ;
Город: {{ order.address.city if order.address else '' }};
Улица: {{ order.address.street if order.address else '' }};
Дом: {{ order.address.home if order.address else '' }};
Квартира: {{ order.address.flat if order.address else '' }};
Карта: ;
ФИО: {{ client.name }} {{ client.surname }};
Email: {{ client.email }};

Итого, с доставкой: {{ order.total_sum|int }} руб. + {{ order.delivery_sum|int }} руб. = {{ (order.total_sum + order.delivery_sum)|int }} руб.
</body>
</html>
