<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#add_price').click(function(e){
                e.preventDefault();
                $('#prices').append('<label>Цена:<input type="number" name="price"></label>');
            });
        });
    </script>
</head>
<body>
    {% include '/company/header.html' %}
    <form method="post">
        {% if single_modifier_obj %}
            <input type="text" name="modifier_id"  value="{{ single_modifier_obj.key.id() }}"  hidden>
        {% endif %}
        {% if choice_obj %}
            <input type="text" name="modifier_id"  value="{{ choice_obj.choice_id }}"  hidden>
        {% endif %}
        <label>
            Имя:
            <input type="text" name="name"
                    {% if single_modifier_obj %} value="{{ single_modifier_obj.title }}" {% endif %}
                    {% if choice_obj %} value="{{ choice_obj.title }}" {% endif %}
            >
        </label>
        <br>
        <div id="prices">
            <label>
                Цена:
                <input type="number" name="price"
                        {% if single_modifier_obj %} value="{{ single_modifier_obj.price }}" {% endif %}
                        {% if choice_obj %} value="{{ choice_obj.price }}" {% endif %}
                >
            </label>
        </div>
        <br>
        {% if group_modifier_choice and not choice_obj %}
            <button id="add_price">Добавить новую цену</button>
        {% endif %}
        {% if single_modifier %}
            <label>
                Минимальное кол-во (для одиночных модификаторов):
                <input type="number" name="min" {% if single_modifier_obj %} value="{{ single_modifier_obj.min_amount }}" {% endif %}>
            </label>
            <br>
            <label>
                Максимальное кол-во (для одиночных модификаторов):
                <input type="number" name="max" {% if single_modifier_obj %} value="{{ single_modifier_obj.max_amount }}" {% endif %}>
            </label>
            <br>
        {% endif %}
        <input type="submit">
    </form>
    <a href="{{ '/company/menu/modifiers/list' }}">Назад</a>
</body>
</html>