<!DOCTYPE html>
<html>
<head>
    <title>Групповой модификатор</title>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#add_name').click(function(e){
                e.preventDefault();
                $('#names').append('<label>Имя:<input type="text" name="name"></label>');
            });
        });
    </script>
</head>
<body>
    {% include '/company/header.html' %}
    <form method="post">
        {% if group_modifier %}
            <input type="text" name="group_modifier_id"  value="{{ group_modifier.key.id() }}" hidden>
        {% endif %}
        <div id="names">
            <label>
                Имя:
                <input type="text" name="name" {% if group_modifier %} value="{{ group_modifier.title }}" {% endif %}>
            </label>
        </div>
        <br>
        <button id="add_name" {% if group_modifier %} disabled {% endif %}>Добавить новый модификатор</button>
        <input type="submit">
    </form>
    <a href="{{ '/company/menu/modifiers/list' }}">Назад</a>
</body>
</html>