<!DOCTYPE html>
<html>
<head>
    <title>Добавить категорию</title>
</head>
<body>
    {% include '/company/header.html' %}
    <form method="post">
        {% if category %}
            <input type="text" name="category_id" value="{{ category.key.id() }}" hidden>
        {% endif %}
        <label>
            Название:
            <input type="text" name="title" {% if category %} value="{{ category.title }}" {% endif %}>
        </label><br>
        <input type="submit">
        <a href="/company/menu/category/list">Назад</a>
    </form>
</body>
</html>