<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script>
         $(document).ready(function() {
            $('.up_button').click(function(e){
                e.preventDefault();
                 $.ajax({
                    type: "POST",
                    url: "{{ '/company/menu/category/up' }}",
                    data: {
                        category_id: this.id
                    },
                    success: function(json) {
                        if (json.success) {
                            $('#tr_' + json.category_id).after($('#tr_' + json.previous_id));
                        }
                    }
                });
            });
            $('.down_button').click(function(e){
                e.preventDefault();
                 $.ajax({
                    type: "POST",
                    url: "{{ '/company/menu/category/down' }}",
                    data: {
                        category_id: this.id
                    },
                    success: function(json) {
                        if (json.success) {
                            $('#tr_' + json.next_id).after($('#tr_' + json.category_id));
                        }
                    }
                });
            });
         });
    </script>
</head>
<body>
    {% include '/company/header.html' %}
    <h3>Текущая категория: {{ main_category.title }}</h3>
    <div>
        <a href="{{ '/company/menu/category/add?main_category_id=%s' % main_category.key.id() }}">
            Добавить категорию
        </a>
    </div>
    <table style="border-collapse:collapse; width:100%" border="1">
        <tr>
            <th>Изменить порядок</th>
            <th>ID</th>
            <th>Название</th>
            <th>Картинка</th>
            <th>Категории</th>
            <th>Продукты</th>
        </tr>
        {% for category in categories %}
            <tr id="{{ 'tr_%s' % category.key.id() }}">
                <td>
                    <button class="up_button" id="{{ category.key.id() }}">
                        Вверх
                    </button>
                    <br>
                    <button class="down_button" id="{{ category.key.id() }}">
                        Вниз
                    </button>
                </td>
                <td>{{ category.key.id() }}</td>
                <td>
                    <a href="{{ '/company/menu/category/edit?category_id=%s' % category.key.id() }}">{{ category.title }}</a>
                </td>
                <td>
                    <img src="{{ category.icon }}" height="75">
                </td>
                <td>
                    <a href="{{ '/company/menu/category/list?category_id=%s' % category.key.id() }}">Вложенные категории</a>
                </td>
                <td>
                    <a href="{{ '/company/menu/item/list?category_id=%s' % category.key.id() }}">Продукты</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <div>
        {% if not main_category.category %}
            <a href="{{ '/company/menu/main' }}">Назад</a>
        {% else %}
            <a href="{{ '/company/menu/category/list?category_id=%s' % main_category.category.id() }}">Назад</a>
        {% endif %}
    </div>
</body>
</html>