<!DOCTYPE html>
<html>
<head>
    <title>Модификаторы</title>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script>
         $(document).ready(function() {
             $('.up_button').click(function(e){
                e.preventDefault();
                 $.ajax({
                    type: "POST",
                    url: "{{ '/company/menu/modifiers/up/single_modifier' }}",
                    data: {
                        modifier_id: this.id
                    },
                    //dataType: "json",
                    success: function(json) {
                        if (json.success) {
                            $('#tr_' + json.modifier_id).after($('#tr_' + json.previous_id));
                        }
                    }
                });
            });
            $('.down_button').click(function(e){
                e.preventDefault();
                 $.ajax({
                    type: "POST",
                    url: "{{ '/company/menu/modifiers/down/single_modifier' }}",
                    data: {
                        modifier_id: this.id
                    },
                    //dataType: "json",
                    success: function(json) {
                        if (json.success) {
                            $('#tr_' + json.next_id).after($('#tr_' + json.modifier_id));
                        }
                    }
                });
            });
            $('.show_products').click(function(e){
                $('#tr_' + this.id).toggle();
            });
            $('#show_inactive_single').click(function(e){
                e.preventDefault();
                $('.single').toggle();
            });
            $('#show_inactive_group').click(function(e){
                e.preventDefault();
                $('.group').toggle();
            });
         });
    </script>
</head>
<body>
    {% include '/company/header.html' %}
    <h2>Одиночные модификаторы</h2>
        <button id="show_inactive_single">
            Показать/Скрыть неактивные
        </button>
    <table style="border-collapse:collapse; width:100%" border="1">
        <tr>
            <th>Имя</th>
            <th>Продукты с модификатором</th>
            <th>Цена</th>
            <th>Минимальное кол-во</th>
            <th>Максимальное кол-во</th>
            <th>Изменить порядок</th>
        </tr>
        {% for modifier in single_modifiers %}
            <tr id="{{ 'tr_%s' % modifier.key.id() }}" {% if modifier.enable %} bgcolor="#99FF99" {% else %} class="single" hidden {% endif %}>
                <td>
                    <a href="{{ '/company/menu/modifiers/edit/single_modifier?single_modifier_id=%s' % modifier.key.id() }}">
                        {{ modifier.title }}
                    </a>
                </td>
                <td>
                    <a href="{{ '/company/menu/product/modifiers/select?modifier_id=%s&modifier_type=%s' % (modifier.key.id(), 0) }}">
                        Выбрать
                    </a>
                </td>
                <td>{{ modifier.float_price }}</td>
                <td>{{ modifier.min_amount }}</td>
                <td>
                    {% if modifier.max_amount == inf %}
                        Бесконечность
                    {% else %}
                        {{ modifier.max_amount }}
                    {% endif %}
                </td>
                <td>
                    <button class="up_button" id="{{ modifier.key.id() }}">
                        Вверх
                    </button>
                    <button class="down_button" id="{{ modifier.key.id() }}">
                        Вниз
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div>
        <form method="get">
            <button formaction="{{ '/company/menu/modifiers/add/single_modifier' }}">
                Добавить
            </button>
        </form>
    </div>
    <h2>Групповые модификаторы</h2>
    <button id="show_inactive_group">
        Показать/Скрыть неактивные
    </button>
    <table style="border-collapse:collapse; width:100%" border="1">
        <tr>
            <th>Имя модификатора</th>
            <th>Продукты с модификатором</th>
            <th>Выбор по умолчанию</th>
            <th>Имя выбора</th>
            <th>Цена выбора</th>
            <th>Выбрать продукты для выбора</th>
        </tr>
        {% for modifier in group_modifiers %}
            <tr {% if modifier.enable %} bgcolor="#99FF99" {% else %} class="group" hidden {% endif %}>
                <td rowspan="{{ modifier.choices|length + 1 }}">
                    <a href="{{ '/company/menu/modifiers/edit/group_modifier?group_modifier_id=%s' % modifier.key.id() }}">
                        {{ modifier.title }}
                    </a>
                    <br>
                    {% if modifier.enable %}
                        <button class="show_products" id="{{ modifier.key.id() }}">
                            Показать/Скрыть
                        </button>
                    {% endif %}
                </td>
                <td rowspan="{{ modifier.choices|length + 1 }}">
                    <a href="{{ '/company/menu/product/modifiers/select?modifier_id=%s&modifier_type=%s' % (modifier.key.id(), 1) }}">
                        Выбрать
                    </a>
                </td>
                <td rowspan="{{ modifier.choices|length + 1 }}">
                    <a href="{{ '/company/menu/modifiers/choices/default?modifier_id=%s' % modifier.key.id() }}">
                        Выбрать
                    </a>
                </td>
                <td colspan="3">
                    <form method="get">
                        <button formaction="{{ '/company/menu/modifiers/add/%s/group_modifier_item' % modifier.key.id() }}">
                            Добавить выбор
                        </button>
                    </form>
                </td>
                {% for choice in modifier.choices %}
                    </tr><tr {% if not modifier.enable %} class="group" hidden {% endif %}>
                    <td>
                        <a href="{{ '/company/menu/modifiers/edit/choice?choice_id=%s' % choice.choice_id }}">{{ choice.title }}</a>
                    </td>
                    <td>{{ choice.float_price }}</td>
                    <td>
                        <a href="{{ '/company/menu/modifiers/choices/select?choice_id=%s' % choice.choice_id }}">Выбрать</a>
                    </td>
                {% endfor %}
            </tr>
            <tr id="tr_{{ modifier.key.id() }}" hidden bgcolor="#99FF99">
                <td colspan="5">
                    {% for product in modifier.products %}
                        {{ '%s, ' % product.title }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <div>
        <form method="get">
            <button formaction="{{ '/company/menu/modifiers/add/group_modifier' }}">
                Добавить
            </button>
        </form>
    </div>
    <a href="{{ '/company/menu/main' }}">Назад</a>
</body>
</html>