<!DOCTYPE html>
<html>
<head>
    <title>Выбирите продукты</title>
</head>
<body>
    <h3>Выберите продукты для {{ modifier.title }}</h3>
    <form method="post">
        <input type="text" name="modifier_id" value="{{ modifier.key.id() }}" hidden>
        <input type="text" name="modifier_type" value="{{ modifier_type }}" hidden>
        <br>
        {% for category in categories %}
            <h3>{{ category.title }}</h3>
            {% for product in category.products %}
                <div>
                    <label>
                         <input type="checkbox" {% if product.has_modifier %} checked {% endif %} name={{ product.key.id() }}>
                         {{ product.title }}
                     </label><br>
                </div>

            {% endfor %}
        {% endfor %}
        <label><input type="submit" value="Сохранить"></label>
    </form>
    <a href="{{ '/mt/menu/modifiers/list' }}">Назад</a>
</body>
</html>