<!DOCTYPE html>
<html>
<head>
    <title>Выбор группового модификатора</title>
</head>
<body>
    {% include '/company/header.html' %}
    <h3>Выберите продукты для {{ choice.title }}</h3>
    <form method="post">
        <input type="text" name="choice_id" value="{{ choice.key.id() }}" hidden>
        <br>
        {% for product in products %}
             <label>
                 <input type="checkbox" {% if product.has_choice %} checked {% endif %} name={{ product.key.id() }}>
                 {{ product.title }}
             </label><br>
        {% endfor %}
        <label><input type="submit" value="Сохранить"></label>
    </form>
    <a href="{{ '/company/menu/modifiers/list' }}">Назад</a>
</body>
</html>