<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post">
        <label>Category_id ({{ category.title }}):
            <input disabled type="text" name="category_id" value="{{ category.key.id() }}">
        </label><br>
        <label>Title: <input type="text" name="title"></label><br>
        <label>Description: <input type="text" name="description"></label><br>
        <label>Kal: <input type="number" name="kal"></label><br>
        <label>Price: <input type="number" name="price"></label><br>
        <label>Volume(ml): <input type="number" name="volume"></label><br>
        <label>Weight: <input type="number" name="weight"></label><br>
        <label>Picture: <input type="text" name="picture"></label><br>
        <input type="submit" value="Отправить"/>
    </form>
</body>
</html>