<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#add_price').click(function(e){
                e.preventDefault();
                $('#prices').append('<label>Цена:<input type="number" name="price"></label>');
            });
        });
    </script>
</head>
<body>
    <form method="post">
        <input type="text" name="modifier_id" {% if single_modifier %} value="{{ single_modifier.key.id() }}" {% endif %} hidden>
        <label>
            Имя:
            <input type="text" name="name" {% if single_modifier %} value="{{ single_modifier.title }}" {% endif %}>
        </label>
        <br>
        <div id="prices">
            <label>
                Цена:
                <input type="number" name="price" {% if single_modifier %} value="{{ single_modifier.price }}" {% endif %}>
            </label>
        </div>
        <br>
        {% if group_modifier_choice %}
            <button id="add_price">Добавить новую цену</button>
        {% endif %}
        {% if single_modifier %}
            <label>
                Минимальное кол-во (для одиночных модификаторов):
                <input type="number" name="min" {% if single_modifier %} value="{{ single_modifier.min_amount }}" {% endif %}>
            </label>
            <br>
            <label>
                Максимальное кол-во (для одиночных модификаторов):
                <input type="number" name="max" {% if single_modifier %} value="{{ single_modifier.max_amount }}" {% endif %}>
            </label>
            <br>
        {% endif %}
        <input type="submit">
    </form>
    <a href="{{ '/mt/menu/modifiers/list' }}">Назад</a>
</body>
</html>