<!DOCTYPE html>
<html>
<head>
    <title>Модификаторы</title>
</head>
<body>
    <h2>Одиночные модификаторы</h2>
    <table style="border-collapse:collapse; width:100%" border="1">
        <tr>
            <th>Имя</th>
            <th>Продукты с модификатором</th>
            <th>Цена</th>
        </tr>
        {% for modifier in single_modifiers %}
            <tr>
                <td>
                    <a href="{{ '/mt/menu/modifiers/edit/single_modifier?single_modifier_id=%s' % modifier.key.id() }}">
                        {{ modifier.title }}
                    </a>
                </td>
                <td>
                    <a href="{{ '/mt/menu/product/modifiers/select?modifier_id=%s&modifier_type=%s' % (modifier.key.id(), 0) }}">
                        Выбрать
                    </a>
                </td>
                <td>{{ modifier.price }}</td>
            </tr>
        {% endfor %}
    </table>
    <div>
        <form method="get">
            <button formaction="{{ '/mt/menu/modifiers/add/single_modifier' }}">
                Добавить
            </button>
        </form>
    </div>
    <h2>Групповые модификаторы</h2>
    <table style="border-collapse:collapse; width:100%" border="1">
        <tr>
            <th>Имя модификатора</th>
            <th>Продукты с модификатором</th>
            <th>Имя выбора</th>
            <th>Цена выбора</th>
            <th>Выбрать продукты для выбора</th>
        </tr>
        {% for modifier in group_modifiers %}
            <tr>
                <td rowspan="{{ modifier.choices|length + 1 }}">
                    <a href="{{ '/mt/menu/modifiers/edit/group_modifier?group_modifier_id=%s' % modifier.key.id() }}">
                        {{ modifier.title }}
                    </a>
                </td>
                <td rowspan="{{ modifier.choices|length + 1 }}">
                    <a href="{{ '/mt/menu/product/modifiers/select?modifier_id=%s&modifier_type=%s' % (modifier.key.id(), 1) }}">
                        Выбрать
                    </a>
                </td>
                <td colspan="3">
                    <form method="get">
                        <button formaction="{{ '/mt/menu/modifiers/add/%s/group_modifier_item' % modifier.key.id() }}">
                            Добавить выбор
                        </button>
                    </form>
                </td>
                {% for choice in modifier.choices %}
                    </tr><tr>
                    <td>{{ choice.title }}</td>
                    <td>{{ choice.price }}</td>
                    <td>
                        <a href="{{ '/mt/menu/modifiers/choices/select?choice_id=%s' % choice.choice_id }}">Выбрать</a>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <div>
        <form method="get">
            <button formaction="{{ '/mt/menu/modifiers/add/group_modifier' }}">
                Добавить
            </button>
        </form>
    </div>
    <a href="{{ '/mt/menu/main' }}">Назад</a>
</body>
</html>