<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post">
        <label>
            Itunes id:
            <input type="text" name="itunes_id">
        </label><br>
        <label>
            Google play id:
            <input type="text" name="google_play_id">
        </label><br>
        <label>
            Название:
            <input type="text" name="title">
        </label><br>
        <label>
            Url для иконки:
            <input type="text" name="icon_link">
        </label><br>
        <input type="submit">
    </form>
    <a href="/mt/splash/main">Назад</a>
</body>
</html>