<html>
<head>
    <meta name="author" content="Ru-beacon">
    <meta name="apple-itunes-app" content="app-id={{ itunes_id }}">
    <meta name="apple-itunes-app-tab" content="app-id={{ itunes_id }}">
    <meta name="google-play-app" content="app-id={{ google_play_id }}">
    <meta name="google-play-app-tab" content="app-id={{ google_play_id }}">
    <meta name="msApplication-ID" content="App"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
            rel="stylesheet" href="https://doubleb-automation-production.appspot.com/static/smartbanner/css/smartbanner.css"
            type="text/css"
            media="screen">
</head>
    <body>
        Этот текст необходимо заменить соответствующим контентом!
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        <script src="https://doubleb-automation-production.appspot.com/static/smartbanner/js/smartbanner.js"></script>
        <script type="text/javascript">
            $(function () {
                $.smartbanner({
                    daysHidden: 0,
                    daysReminder: 0,
                    title: '{{ title }}',
                    button: 'Download',
                    icon: '{{ icon_link }}'
                })
            })
        </script>
    </body>
</html>