<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mobile</title>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,700&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://doubleb-automation-production.appspot.com/static/splash/css/main.css" type="text/css">
</head>
<body>
    <div id="phone">
        <a href="tel:{{ phone }}">Позвонить нам</a>
    </div>
    <div id="title">
        <table>
            <tr>
                <td><img src="{{ logo_url }}"></td>
                <td><h4>Заказывай<br>любимые блюда<br>с мобильного</h4></td>
            </tr>
        </table>
    </div>
    <div id="info">
        <img src="{{ app_url }}">
    </div>
    <div id="divider"></div>
    <div id="stores">
        <img src="http://doubleb-automation-production.appspot.com/static/splash/images/appstore.png">
        <img src="http://doubleb-automation-production.appspot.com/static/splash/images/googleplay.png">
    </div>

    <div id="footer">
        <a href="{{ rbcn_url }}">
            <img src="{{ download_button_url }}">
        </a><br>
        <a href="{{ site }}">Полная версия сайта</a>
    </div>
</body>
</html>
