<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <label>
            Телефон:
            <input type="text" name="phone">
        </label><br>
        <label>
            Лого:
            <input type="text" name="logo_url">
        </label><br>
        <label>
            Скрин:
            <input type="text" name="app_url">
        </label><br>
        <label>
            Рубикон ссылка:
            <input type="text" name="rbcn_url">
        </label><br>
        <label>
            Сайт:
            <input type="text" name="site">
        </label><br>
        <label>
            Загрузить "скачать" картинку:
            <input type="file" name="download_image">
        </label><br>
        <input type="submit">
    </form>
    <a href="/mt/splash/main">Назад</a>
</body>
</html>