<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% if success %}
        <div style="border: 1px solid black; padding: 4px 6px;">
            Изменения сохранены
        </div>
    {% endif %}
    <div>
        <a href="/mt/venues/create">Создать кофейню</a>
    </div>
    <form method="post">
        {% for v in venues %}
            <label style="display: block;">
                <input type="checkbox" name="{{ v.key.id() }}" {% if v.active %}checked{% endif %}/>
                <a href="/mt/venues/{{ v.key.id() }}">
                    {{ v.title }}
                    {% if v.problem %}
                        <b style="color: red">({{ v.problem }})</b>
                    {% endif %}
                </a>
            </label>
        {% endfor %}
        <input type="submit" value="Сохранить"/>
    </form>
</body>
</html>
