<!DOCTYPE html>
<html>
<head>
    <title>Типы оплат</title>
</head>
<body>
    <form method="post">
        {% for payment in payments %}
             <label><input type="checkbox" {% if payment.status %} checked {% endif %} name={{ payment.key.id() }}>
                 {{ payment.title }}
             </label>
             <br>
        {% endfor %}
        <br>
        <label><input type="submit" value="Сохранить"></label>
    </form>
    <br>
    <a href="/mt/automation">Назад</a>
</body>
</html>