<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

     {% set NAME_MONTHS = 'Все месяцы', 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль',
                            'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь' %}

     <!--excess information-->
     <!--{% set NUMBER_DAYS = 31, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31%}-->

     <form method="get">
         <select name="selected_venue" {% if padmin %}disabled{% endif %}>
             <option value="0" {% if not chosen_venue %}selected{% endif %}>Все кофейни</option>
             {% for venue in venues %}
                  <option value="{{ venue.key.id() }}" {% if chosen_venue == venue %} selected {% endif %}>
                      {{ venue.title }}
                  </option>
             {% endfor %}
         </select>
         <select name="selected_year">
             <option value="0" {% if not chosen_year %}selected{% endif %}>Все года</option>
             {% for year in range(start_year, end_year + 1) %}
                  <option value="{{ year }}" {% if chosen_year == year %} selected {% endif %}>
                      {{ year }}
                  </option>
             {% endfor %}
         </select>
         <select name="selected_month">
             {% for month in range(0, 12 + 1)%}
                  <option value="{{ month }}" {% if chosen_month == month %} selected {% endif %}>
                      {{ NAME_MONTHS[month] }}
                  </option>
             {% endfor %}
         </select>
         <select name="selected_day">
             <option value="0" {% if not chosen_day %}selected{% endif %}>Все дни</option>
             {% for day in range(1, 31 + 1)%}
                  <option value="{{ day }}" {% if chosen_day == day %} selected {% endif %}>
                      {{ day }}
                  </option>
             {% endfor %}
         </select>
         <input type="submit" value="Выбрать"/>
         <button formaction="/mt/report/menu_items" formmethod="get" name="button" value="xls">Скачать xls</button>
     </form>

     <br>
     <table style="border-collapse:collapse; width:100%" border="1">
         <tr>
             <th>Id</th>
             <th>Title</th>
             <th>Price</th>
             <th>Number of Orders</th>
             <th>Total Expenditure</th>
         </tr>
         {% for menu_item in menu_items %}
             <tr>
                 <td>{{ menu_item.item_id }}</td>
                 <td>{{ menu_item.title }}</td>
                 <td>{{ menu_item.price }}</td>
                 <td>{{ menu_item.order_number }}</td>
                 <td>{{ menu_item.order_number * menu_item.price }}</td>
             </tr>
         {% endfor %}
         <tr>
             <td></td>
             <td></td>
             <td><b>Total</b></td>
             <td>{{ menu_item_number }}</td>
             <td>{{ menu_item_expenditure }}</td>
         </tr>
     </table>

    {% if padmin %}
        <a href="/admin/private_office/report">Назад</a>
     {% else %}
        <a href="/mt/report">Назад</a>
     {% endif %}

</body>
</html>