<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

     {% set NAME_MONTHS = 'Все месяцы', 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль',
                            'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь' %}

     <!--excess information-->
     <!--{% set NUMBER_DAYS = 31, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31%}-->

     <form method="get">
         <select name="selected_venue">
             <option value="0" {% if not chosen_venue %}selected{% endif %}>Все кофейни</option>
             {% for venue in venues %}
                  <option value="{{ venue.key.id() }}" {% if chosen_venue == venue %} selected {% endif %}>
                      {{ venue.title }}
                  </option>
             {% endfor %}
         </select>
         <select name="selected_year">
             <option value="0" {% if not chosen_year %}selected{% endif %}>Все года</option>
             {% for year in range(start_year, end_year + 1) %}
                  <option value="{{ year }}" {% if chosen_year == year %} selected {% endif %}>
                      {{ year }}
                  </option>
             {% endfor %}
         </select>
         <select name="selected_month">
             {% for month in range(0, 12 + 1)%}
                  <option value="{{ month }}" {% if chosen_month == month %} selected {% endif %}>
                      {{ NAME_MONTHS[month] }}
                  </option>
             {% endfor %}
         </select>
         <select name="selected_day">
             <option value="0" {% if not chosen_day %}selected{% endif %}>Все дни</option>
             {% for day in range(1, 31 + 1)%}
                  <option value="{{ day }}" {% if chosen_day == day %} selected {% endif %}>
                      {{ day }}
                  </option>
             {% endfor %}
         </select>
         <input type="submit" value="Выбрать"/>
     </form>

     <br>
     <table style="border-collapse:collapse; width:100%" border="1">
         <tr>
             <th>Id</th>
             <th>Name</th>
             <th>Telephone</th>
             <th>Number of Orders</th>
             <th>Total Expenditure</th>
             <th>Payment</th>
             <th>Number of Cancelled Orders</th>
             <th>Sum of Cancelled Orders</th>
             <th>Average Order Cost</th>
         </tr>
         {% for client in clients %}
             <tr>
                 <td>{{ client.client_id }}</td>
                 <td>{{ client.name }}</td>
                 <td>{{ client.tel }}</td>
                 <td>{{ client.amount_orders }}</td>
                 <td>{{ client.success_sum }}</td>
                 <td>{{ client.payment }}</td>
                 <td>{{ client.cancel_number }}</td>
                 <td>{{ client.cancel_sum }}</td>
                 <td>{{ client.average_order_cost }}</td>
             </tr>
         {% endfor %}
         <tr>
             <td></td>
             <td></td>
             <td><b>Total</b></td>
             <td>{{ venue_number }}</td>
             <td>{{ venue_expenditure }}</td>
             <td>{{ venue_payment }}</td>
             <td>{{ venue_cancel_number }}</td>
             <td>{{ venue_cancel_sum }}</td>
             <td>{{ venue_expenditure / venue_number if venue_number else "-" }}</td>
         </tr>
     </table>
     <a href="/mt/report">Назад</a>

</body>
</html>