<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <table style="border-collapse:collapse; width:100%" border="1">
         <tr>
             <th>Id</th>
             <th>Name</th>
             <th>Token</th>
             <th>App version</th>
             <th>Ping number for the last 10 min</th>
             <th>Distance</th>
             <th>Errors_number for the last 10 min</th>
             <th>Sound level system</th>
             <th>Battery level</th>
             <th>Charging</th>
             <th>Turned on</th>
         </tr>
         {% for admin_info in admins_info %}
             <tr bgcolor="#{{ colors[admin_info.error_level] }}" title="{{ "\n".join(admin_info.error_messages) }}">
                 <td>{{ admin_info.admin_status.admin_id }}</td>
                 <td>{{ admin_info.admin_status.admin.email }}</td>
                 <td>{{ admin_info.admin_status.token }}</td>
                 <td>{{ admin_info.app_version }}</td>
                 <td>{{ admin_info.pings_10min|length }}</td>
                 <td>{{ admin_info.distance }}</td>
                 <td>{{ admin_info.error_number }}</td>
                 <td>{{ admin_info.sound_level_system }}</td>
                 <td>{{ admin_info.battery_level }}</td>
                 <td>{{ admin_info.charging }}</td>
                 <td>{{ admin_info.turned_on }}</td>
             </tr>
         {% endfor %}
     </table>
</body>
</html>