<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% set NAME_MONTHS = 'Все месяцы', 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль',
                            'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь' %}

    <form method="get">
         <select name="selected_venue">
             <option value="0" {% if not chosen_venue %}selected{% endif %}>Все кофейни</option>
             {% for venue in venues %}
                  <option value="{{ venue.key.id() }}" {% if chosen_venue == venue %} selected {% endif %}>
                      {{ venue.title }}
                  </option>
             {% endfor %}
         </select>
         <select name="selected_year">
             {% for year in range(start_year, end_year + 1) %}
                  <option value="{{ year }}" {% if chosen_year == year %} selected {% endif %}>
                      {{ year }}
                  </option>
             {% endfor %}
         </select>
         <select name="selected_month">
             {% for month in range(1, 12 + 1)%}
                  <option value="{{ month }}" {% if chosen_month == month %} selected {% endif %}>
                      {{ NAME_MONTHS[month] }}
                  </option>
             {% endfor %}
         </select>
         <input type="submit" value="Выбрать"/>
    </form>

    <br>

    <table style="border-collapse:collapse; width:100%" border="1">
         <tr>
             <th>Date</th>
             <th>Spent</th>
             <th>Received</th>
         </tr>
         {% for day in days %}
             <tr>
                 <td>{{ day.day }}</td>
                 <td>{{ day.spent }}</td>
                 <td>{{ day.received }}</td>
             </tr>
         {% endfor %}
    </table>
    <a href="/mt/report">Назад</a>
</body>
</html>