<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <a href="/mt/report/clients">Клиенты</a>
    <br>
    <a href="/mt/report/menu_items">Продукты</a>
    <br>
    <a href="/mt/report/venues">Кофейни</a>
    <br>
    <a href="/mt/report/venues_with_dates">Кофейни с разбивкой по дням</a>
    <br>
    <a href="/mt/report/orders">Все заказы</a>
    <br>
    <a href="/mt/report/repeated_orders">Новые и повторные заказы</a>
    <br>
    <a href="/mt/report/square_table">Отчет по возврату пользователей</a>
    <br>
    <a href="/mt/report/notification">Напоминания</a>
    <br>
    <a href="/mt/name_confirmation">Изменение имен</a>
</body>
</html>
