<html>
<head>
</head>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script>

    if (!String.prototype.format) {
        String.prototype.format = function () {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function (match, number) {
                return typeof args[number] != 'undefined'
                        ? args[number]
                        : match
                        ;
            });
        };
    }

    $(document).ready(function () {

        var index = $("#conditions_num").val();
        alert(index);

        $('.add_condition').click(function (e) {
            var conditionsString = $("#conditions").val();
            var conds = JSON.parse(conditionsString);
            var client_type = $("#client_type").val();

            ++index;
            $("#conditions_num").val(index);

            $('.conditions').append(
                    "<label>{0}<input type=\"number\" name=\"value_{1}\"></label><br>".format(conds["{0}".format(client_type)], index) +
                    "<label>Текст<input type=\"text\" name=\"text_{0}\"></label><br>".format(index)
            )
        })
    })
</script>
<body>
{% include '/company/header.html' %}
<form method="post">
    <label>
        Статус
        <input type="checkbox" name="status" {% if module.status %} checked {% endif %}>
    </label><br>
    <label>
        Титулка
        <input type="text" name="header" value="{{ module.header }}">
    </label><br>
    <label>
        Выберите тип клиентов: <br>
        <select name="client_type" id="client_type">
            {% for type in types %}
                <option value="{{ type['value'] }}">
                    {{ type['name'] }}
                </option>
            {% endfor %}
        </select>
    </label>
    <br><br>
    <div class="conditions">
        <button class="add_condition" type="button">Добавить</button>
        <br>
        {% for condition in module.conditions.items() %}
            <label>
                Дней без заказа
                <input type="number" value="{{ condition[0] }}" name="{{ 'value_{0}'.format(loop.index0) }}">
            </label><br>

            <label>
                Текст
                <input type="text" value="{{ condition[1] }}" name="{{ 'text_{0}'.format(loop.index0) }}">
            </label><br>
        {% endfor %}
    </div>
    <br>

    <label>
        Отправлять пуш
        <input type="checkbox" name="should_push" {% if module.should_push %}checked{% endif %}>
    </label><br>
    <label>
        Отправлять СМС
        <input type="checkbox" name="should_sms" {% if module.should_sms %}checked{% endif %}>
    </label><br>

    <label>
        Отправлять СМС, если есть накопленные баллы
        <input type="checkbox" name="sms_if_has_points" {% if module.sms_if_has_points %}checked{% endif %}>
    </label><br>

    <label>
        Отправлять СМС, если есть кэшбэк
        <input type="checkbox" name="sms_if_has_cashback" {% if module.sms_if_has_cashback %}checked{% endif %}>
    </label><br>

    <label>
        Кэшбек (-1 для отключения)<br>
        <input type="number" name="needed_cashback"
               {% if module.needed_cashback %}value="{{ module.needed_cashback }}"{% else %}
               value="-1"
               {% endif %}
        >
    </label><br>

    <label>
        Баллов до подарка (-1 для отключения)<br>
        <input type="number" name="needed_points_left"
               {% if module.needed_points_left %}value="{{ module.needed_points_left }}"{% else %}
               value="-1"
               {% endif %}
        >
    </label><br>

    <input type="submit" value="Сохранить">
    <input type="hidden" name="conditions_num" id="conditions_num" value="{{ module.conditions|length }}">
    <input type="hidden" name="module_idx" value="{{ config.INACTIVE_NOTIFICATION_MODULE.index(module) }}">
    <input type="hidden" value="{{ conditions }}" id="conditions">
</form>
</body>
</html>