<!DOCTYPE html>
<html>
<head>
    <title>Зона Доставки</title>
</head>
<body>
    {% include '/company/header.html' %}
    <form method="post">
        <label>
            Тип поиска:
            <select name="search_type">
                {% for search_type in search_types %}
                  <option value="{{ search_type['value'] }}" {% if zone and zone.search_type == search_type['value'] %} selected {% endif %}>
                      {{ search_type['name'] }}
                  </option>
                {% endfor %}
            </select>
        </label><br>
        <label>
            Значение:
            <input type="number" name="value" {% if zone and zone.value and zone.value != 0 %} value="{{ zone.value }}" {% endif %}>
        </label><br>
        <label>
            Минимальная сумма:
            <input type="number" name="min_sum" {% if zone %} value="{{ zone.min_sum }}" {% endif %}>
        </label><br>
        <label>
            Стоимость доставки:
            <input type="number" name="price" {% if zone %} value="{{ zone.price }}" {% endif %}>
        </label><br>
        <label>
            Сумма для бесплатной доставки:
            <input type="number" name="free_delivery_sum" {% if zone %}value="{{ zone.free_delivery_sum }}" {% endif %}>
        </label><br>
        <label>
            Комментарий:
            <input type="text" name="comment" {% if zone and zone.comment %} value="{{ zone.comment }}" {% endif %}>
        </label><br>
        <input type="submit">
        <a href="/company/delivery/zone/list">Назад</a>
    </form>
</body>
</html>