body {
	color: #000;
	background-color: #fff;
	margin: 32px 0px 32px 0px;
	text-align: center;
}

h4 {
	font-family: 'Ubuntu', Arial, sans-serif;
	font-weight: 300;
	font-size: 56px;
	line-height: 56px;
}

p {
	font-family: 'Ubuntu', Arial, sans-serif;
	font-weight: 300;
	font-size: 32px;
	line-height: 32px;
}

a {
	font-family: 'Ubuntu', Arial, sans-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 36px;
	color: #930671;
}

#title {
	margin: -16px auto -32px auto;
}

#title table {
	width: 90%;
	margin: auto;
}

#title img {
	width: 100%;
}

#info {
	margin: 32px auto 0px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: left;
}

#info img{
	width: 60%;
	margin-bottom: 0px;
}

#stores img{
	width: 30%;
}

#divider {
	background: rgba(0,0,0,0.20);
	height: 2px;
	margin-bottom: 15px;
}

#footer img{
	height: 160px;
	margin: 32px 0px 32px 0px;
}

#footer a {
	margin: 32px 0px 32px 0px;
}
