<!DOCTYPE html>
<html>
<head>
    <title>Список админов</title>
</head>
<body>

    <table style="border-collapse:collapse; width:100%" border="1">
        <tr>
            <th>Имя кофейни</th>
            <th>Логин</th>
            <th>Пароль (хешированный)</th>
        </tr>
        {% for admin in admins %}
            <tr>
                <td>{{ admin.venue.get().title }}</td>
                <td>
                    <div>{{ admin.login }}
                        <form>
                            <button formaction="{{ '/mt/private_office/%s/change_login' % admin.key.id() }}" formmethod="get">Изменить логин</button>
                        </form>
                    </div>
                </td>
                <td>
                    <div>{{ admin.password }}
                        <form>
                            <button formaction="{{ '/mt/private_office/%s/change_password' % admin.key.id() }}" formmethod="get">Изменить пароль</button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>