<!DOCTYPE html>
<html>
<head>
    <title>Отчеты</title>
</head>
<body>
    <form>
        <button formaction="/admin/private_office/report/clients" formmethod="post">Клиенты</button>
    </form>
    <a href="/admin/private_office/report/clients">Клиенты</a>
    <br>
    <a href="/mt/report/menu_items">Продукты</a>
    <br>
    <a href="/mt/report/venues">Кофейни</a>
    <br>
    <a href="/mt/report/venues_with_dates">Кофейни с разбивкой по дням</a>
    <br>
    <a href="/mt/report/orders">Все заказы</a>
    <br>
    <a href="/mt/report/repeated_orders">Новые и повторные заказы</a>
    <br>
    <a href="/mt/report/square_table">Отчет по возврату пользователей</a>
</body>
</html>