<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Настройки оплаты</title>
</head>
<body>
    <form method="post">
        <div>
            Альфа:
            <label>
                <input type="radio" name="alfa" value="production" {% if production %}checked{% endif %}> Боевая
            </label>
            <label>
                <input type="radio" name="alfa" value="test" {% if not production %}checked{% endif %}> Тестовая
            </label>
        </div>
        <label>
            Логин для привязки
            <input type="text" name="bind_login" value="{{ bind_login }}">
        </label><br>
        <label>
            Пароль для привязки
            <input type="text" name="bind_password" value="{{ bind_password }}">
        </label><br>
        {% for legal in legals %}
            <fieldset>
                <legend>{{ legal.person_ooo or legal.person_ip }}</legend>
                <label>
                    Логин
                    <input type="text" name="login_{{ legal.key.id() }}" value="{{ legal.alfa_login }}">
                </label><br>
                <label>
                    Пароль
                    <input type="text" name="password_{{ legal.key.id() }}" value="{{ legal.alfa_password }}">
                </label>
            </fieldset>
        {% endfor %}
        <input type="submit">
        <a href="/company/main">Назад</a>
    </form>
</body>
</html>
