<!DOCTYPE html>
<html>
<head>
    <title>Добавить расписание</title>
</head>
<body>
    {% include '/company/header.html' %}
    <form method="post">
        {% if index %}
            <input type="text" name="index" value="{{ index }}" hidden>
        {% endif %}
        {% if venue %}
            <input type="text" name="venue_id" value="{{ venue.key.id() }}" hidden>
        {% elif promo %}
            <input type="text" name="promo_id" value="{{ promo.key.id() }}" hidden>
            <label>
                Метод:
                <select name="method">
                    {% for method in methods %}
                      <option value="{{ method['value'] }}" {% if feature and feature.method == method['value'] %} selected {% endif %}>
                          {{ method['name'] }}
                      </option>
                    {% endfor %}
                </select>
            </label><br>
        {% endif %}
        {% for day in days %}
            <label>
                <input type="checkbox" name="{{ day['value'] }}" {% if day['exist'] %} checked {% endif %}>
                {{ day['name'] }}
                <input type="time" name="{{ 'start_%s' % day['value'] }}" value="{{ day['start'] }}">
                <input type="time" name="{{ 'end_%s' % day['value'] }}" value="{{ day['end'] }}">
            </label><br>
        {% endfor %}
        <input type="submit">
        {% if venue %}
            <a href="/company/venues">Назад</a>
        {% elif promo %}
            <a href="/company/promos/list">Назад</a>
        {% endif %}
    </form>
</body>
</html>