<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Start Bootstrap - SB Admin Version 2.0 Demo</title>

    <!-- Core CSS - Include with every page -->

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-select.css" rel="stylesheet">
    <link href="css/datepicker.css" rel="stylesheet">


    <!-- Page-Level Plugin CSS - Blank -->

    <!-- SB Admin CSS - Include with every page -->
    <link href="css/sb-admin_orders.css" rel="stylesheet">

    <!-- modal-->


    <!-- -->

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">

            <!-- /.navbar-header -->



            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="orders.php">
                                <div class='navi_img_div'>
                                		<img class='navi_img' src='images/current.png'>
                                </div>
                            <div class='navi_text'>Текущие заказы</div>
                            </a>
                        </li>
                        <li>
                            <a href="backs.php">
                                <div class='navi_img_div'>
                                		<img class='navi_img' src='images/return.png'>
                                </div>
                            <div class='navi_text'>Возвраты</div>
                            </a>
                        </li>
                        <li>
                         <!--   <a href="orders_list.php">
                                <div class='navi_img_div'>
                                		<img class='navi_img' src='images/today.png'>
                                </div>
                            <div class='navi_text'>Заказы за сегодня</div>
                            </a>
                        </li>-->
                        <li id='active_menu'>
                            <a href="history.php">
                                <div class='navi_img_div'>
                                		<img class='navi_img' src='images/history.png'>
                                </div>
                            <div class='navi_text'>История</div>
                            </a>
                        </li>
                        <li>
                            <a href="logout">
                                <div class="navi_text">Выход</div>
                                <div class="navi_text" style="font-size: 14px">
                                    {{ admin.venue.get().title if admin.venue else "Вся сеть" }},
                                    {{ admin.email }}
                                </div>
                            </a>
                        </li>

                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">

							<div class='search_history'>

											<div class='date_input_history'>
												<div class='input-group date'>
												<input type='text' class="form-control" id='search_input_history' placeholder="Номер телефона, имя клиента, номер или дата"/>

															<span class="input-group-addon">
																	<span class="glyphicon"><i class="icon-search icon-white"></i></span>
												</span>

										</div>
									</div>
							</div>
                <div>
                	<div class="table_header">

                                                        <div class="table_header_time">Время</div>
                            							<div class="table_header_number">Номер</div>
                           								<div class="table_header_order">Заказ</div>
                                						<div class='table_header_customer'>Клиент</div>
                                                        <div class="table_header_status">Статус</div>
                                            			<div class='table_header_payment_type'>Тип оплаты</div>
                          								<div class='table_header_price'>Итого</div>
                          								<!--<div class='table_header_cost_price'>Себест.</div>
                          								<div class='table_header_profit'>Прибыль</div>-->
                   </div>



               </div>


                {% for order in orders %}
               <div class='order' id='{{ order.order_id }}'>

               			<div class='order_info'>
                            <div class='time'>{{ order.delivery_datetime }}</div>
                            <div class='number'>{{ order.order_id }}</div>
                            <div class='client_info'>
                            	<div class='client_name'>{{ order.client.name }}</div>
                                <div class='client_surname'>{{ order.client.surname }}</div>
                                <div class='client_tel'>{{ order.client.tel }}</div>
                                <div class='client_pan'>{{ order.client.pan }}</div>
                            </div>
                            <div class='order_items'>
                            {% for item in order['items'] %}
                                <div class='item'>
                                    <div class='item_title'>{{ item.title }}</div>
                                    <div class='item_quantity'>{{ item.quantity }}</div>
                                    <div class='item_price'>{{ item.quantity }}</div>
                                </div>
                            {% endfor %}


                            </div>
                         <div class='customer'>
                        		<div class='name'>{{ order.client.name }} {{ order.client.surname }}</div>
                        		<div class='tel'>{{ order.client.tel }}</div>
                         </div>
                         <div class='order_status'>
                         		 {{ status_strings[order.status] }}
                         </div>
                          <div class='payment_type'>
                         		 {{ payment_type_strings[order.payment_type_id] }}
                         </div>
                          <div class='order_price'>
                          		{{ order.total_sum }}

                          </div>
                          <!--
                          <div class='order_cost_price'>


                          		{{ order.cost_price }}

                          </div>
                          <div class='order_profit'>


                          		{{ order.total_sum - order.cost_price }}

                          </div>-->

                         </div>


               </div>

                  {% else %}
                      <div class="not_found">К сожалению, ничего не найдено.</div>
                  {% endfor %}






               <!-- -------->



                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/pulsate.js"></script>
    <script src="js/jquery.easyModal.js"></script>


    <!-- Page-Level Plugin Scripts - Blank -->

    <!-- SB Admin Scripts - Include with every page -->
    <script src="js/sb-admin.js"></script>


    <!-- Page-Level Demo Scripts - Blank - Use for reference -->

    <script>
	$('.input-group-addon').click(function()
	{
	  var search_string=$('#search_input_history').val();
	  window.location = "history.php?search="+search_string;

	})
	$('input[type=text]').on('keydown', function(e) {
    if (e.which == 13) {

		var search_string=$('#search_input_history').val();
	  window.location = "history.php?search="+search_string;
    }
});
    $(function()
	 {


        //Detect iPhone
        if(navigator.platform.indexOf("iPad") != -1){
		$('.navi_text').empty();
		}
        //Detect iPod

	 })
	</script>

</body>

</html>
