<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Start Bootstrap - SB Admin Version 2.0 Demo</title>

    <!-- Core CSS - Include with every page -->

    <link href="css/bootstrap.css" rel="stylesheet">
      <link href="css/sb-admin_orders.css" rel="stylesheet">

    <link href="css/datepicker.css" rel="stylesheet">
     <link href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <link href="css/bootstrap-select.css" rel="stylesheet">



    <!-- Page-Level Plugin CSS - Blank -->

    <!-- SB Admin CSS - Include with every page -->


    <!-- modal-->


    <!-- -->

</head>

<body>
    <div id="wrapper">

         <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">

            <!-- /.navbar-header -->



            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="orders.php">
                                <div class='navi_img_div'>
                                		<img class='navi_img' src='images/current.png'>
                                </div>
                            <div class='navi_text'>Текущие заказы</div>
                            </a>
                        </li>
                        <li id='active_menu'>
                            <a href="backs.php">
                                <div class='navi_img_div'>
                                		<img class='navi_img' src='images/return.png'>
                                </div>
                            <div class='navi_text'>Возвраты</div>
                            </a>
                        </li>
                        <li>
                           <!-- <a href="orders_list.php">
                                <div class='navi_img_div'>
                                		<img class='navi_img' src='images/today.png'>
                                </div>
                            <div class='navi_text'>Заказы за сегодня</div>
                            </a>
                        </li>-->
                        <li>
                            <a href="history.php">
                                <div class='navi_img_div'>
                                		<img class='navi_img' src='images/history.png'>
                                </div>
                            <div class='navi_text'>История</div>
                            </a>
                        </li>

                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
               <div class='date_time_plate'>
               			<div class='date_ico'></div>
                        <div class='date_input'>
                        	<div class='input-group date'>
                    			<input type='text' class="form-control" id='return_date_picker' placeholder="Выберите дату возврата"/>
                    			<!--
                                <span class="input-group-addon">
                                		<span class="glyphicon glyphicon-calendar"></span>
                    			</span>
                                -->
                			</div>
                		</div>
                </div>

                <div class="table_header table_header_cancel">

                                                        <div class="table_header_time">Время</div>
                            							<div class="table_header_number">Номер</div>
                           								<div class="table_header_order_cancel">Заказ</div>
                                						<div class='table_header_customer'>Клиент</div>
                                                        <div class="table_header_comments">Комментарий</div>

                   </div>

               {% for order in orders %}
               <div class='order refund' id='{{ order.order_id }}'>

               			<div class='order_info_back'>
                            <div class='time'>{{ order.delivery_time }}</div>
                            <div class='number'>{{ order.order_id }}</div>
                            <div class='client_info'>
                            	<div class='client_name'>{{ order.client.name }}</div>
                                <div class='client_surname'>{{ order.client.surname }}</div>
                                <div class='client_tel'>{{ order.client.tel }}</div>
                                <div class='client_pan'>{{ order.client.pan }}</div>
                            </div>
                            <div class='order_items_back'>
                            {% for item in order.items %}
                                <div class='item'>
                                    <div class='item_title'>{{ item.title }}</div>
                                    <div class='item_quantity'>{{ item.quantity }}</div>
                                    <div class='item_price'>{{ item.price }}</div>
                                </div>
                            {% endfor %}


                                <div class='total_order_amount'>
                            Итого: <span class="total_order_price">{{ order.total_sum }}</span>
                            </div>

                            </div>
    						<div class='client'>
                                    <div class='name'>{{ order.client.name }} {{ order.client.surname }}</div>
                                    <div class='tel'>{{ order.client.tel }}</div>
                                    <div class='date'>{{ order.return_datetime }}</div>
                           </div>
                           <div class='return_comments'>{{ order.return_comment }}</div>

                         </div>



               </div>

                  {% endfor %}





               <!-- -------->



                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/pulsate.js"></script>
    <script src="js/jquery.easyModal.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
         <script src="js/moment.js"></script>


    <!-- Page-Level Plugin Scripts - Blank -->

    <!-- SB Admin Scripts - Include with every page -->
    <script src="js/sb-admin.js"></script>


    <!-- Page-Level Demo Scripts - Blank - Use for reference -->
    <script>
	$(function() {
  // Handler for .ready() called.

  	//$('#circle').effect( "pulsate",
      //    {times:5}, 3000 );
		var properties = {
   backgroundColor : '#ddd'
};
  $('#circle').pulsate();
});






	$('.status').change(function(){

	var order_id=$(this).last().parent().prop('id');

	$.post('status_up.php',{"order_id":order_id,"status":$(this).val()},
		function(resp)
		{
						//alert(resp);
						var response=JSON.parse(resp)
						//console.log(response)
						var status=["","новый заказа","готовится"," готов", "невозможно приготовить"];

					    if(response['error']=='0')
						{
						$('#info_'+response['order_id']).append('Статус заказа #'+response['order_id']+' успешно изменен.Текущий статус: '+status[response['status']])
						$('#info_'+response['order_id']).css('background-color',"rgba(0, 204, 102,0.3)");
						$('#info_'+response['order_id']).css('height',"30px");
						$('#info_'+response['order_id']).css('line-height',"30px");
						$('#info_'+response['order_id']).css('padding-left',"14px");

						}
					    $('#info_'+response['order_id']).fadeOut(5000);
		})
	})


function timerMethod() {

 console.log($('.max_id').html())
 $.post('check_update.php',{"max_id":$('.max_id').html()},
 function(resp)
 {
	    var response=JSON.parse(resp)
	    console.log(response)
		var i=0;
		for (var key in response['data']) {
  							if (response['data'].hasOwnProperty(key))
		 												{
		   													  if(i==0){$('.max_id').empty();$('.max_id').html(response['data'][key]['order_id']); }
															  i++;
		var status1='';
		var status2='';
		var status3='';
		var status4='';

		if(response['data'][key]['status']==1){status1="selected" }
		if(response['data'][key]['status']==2){status2="selected" }
		if(response['data'][key]['status']==3){status3="selected" }
		if(response['data'][key]['status']==4){status4="selected" }

		var selected='<select class="form-control status"><option value="1" '+status1+' >Новый заказ</option><option value="2" '+status2+' >Готовится</option><option value="3" '+status3+' >Готов</option><option value="4"'+status4+' >Нельзя выполнить</option></select>'


                                                                  var deliv_time=response["data"][key]["delivery_time"];
															   deliv_time=deliv_time.split(':')
                                                                  deliv_time=deliv_time[0]+':'+deliv_time[1]


															  $('.max_id').after('<div class="order"><div class="status"><div class="circle"></div></div><div class="order_info order_info_'+response["data"][key]["order_id"]+'"><div class="time">'+deliv_time+'</div><div class="number">'+response["data"][key]["order_id"]+'</div><div class="client_info"><div class="client_name">'+response["data"][key]["name"]+'</div><div class="client_surname">'+response["data"][key]["surname"]+'</div><div class="client_tel">'+response["data"][key]["tel"]+'</div><div class="client_pan">'+response["data"][key]["pan"]+'</div></div><div class="order_items order_items_'+response["data"][key]["order_id"]+'">');

											for (var iter in response['data'][key]['items'])
														 {
															if (response['data'][key]['items'].hasOwnProperty(iter))
																					{

																				    $('.order_items_'+response["data"][key]["order_id"]).append('<div class="item"><div class="item_title">'+ response["data"][key]["items"][iter]["title"]+'</div><div class="item_quantity">'+response["data"][key]["items"][iter]["quantity"]+'</div><div class="item_price">'+response["data"][key]["items"][iter]["price"]+'</div>');

																					}
														  }
														$('.order_items_'+response["data"][key]["order_id"]).prepend('</div>')


														$('.order_info_'+response["data"][key]["order_id"]).after('<div class="submit">&#10004;&nbsp;Выдать</div></div>');


		 												}
						   }
 })


}

//var timerId = setInterval(timerMethod, 6000);

$('.submit').click(function(){
	var order_id=$(this).children('.order_id').html();
	$.post('done.php',{"order_id":order_id},function(resp)
	{
	     var response=JSON.parse(resp)
		 console.log(response)
	     if(response['status']==1&&response['error']==0)
		 {
			 $('#'+order_id).css('background-color','rgba(113,205,107,0.1)')
	$('#'+order_id).fadeOut(1500);

		 }
	})


	})

// modal
$(function() {
	$('#return_date_picker').datepicker({
	dateFormat: 'yy-mm-dd',
	onSelect: function(dateText, inst)
	{
        window.location = "backs.php?date="+dateText;
    }

	});
	if (/ip(hone|od)|ipad/i.test(navigator.userAgent)) {
           $("body").css ("cursor", "pointer");
		   }


});
$( "body" ).on( "click", ".order", function(e){

     if($(event.target).attr('class')!='submit')
	 {
			var order_time=$(this).children('.order_info').children('.time').html();
			var order_id=$(this).children('.order_info').children('.number').html();
			var client_name=$(this).children('.order_info').children('.client_info').children('.client_name').html();
			var client_surname=$(this).children('.order_info').children('.client_info').children('.client_surname').html();
			var client_tel=$(this).children('.order_info').children('.client_info').children('.client_tel').html();
			var client_pan=$(this).children('.order_info').children('.client_info').children('.client_pan').html();

			//$('#info_modal').empty();
			$('#info_modal').trigger('openModal');

			//empty fields
			$('.order_time').empty();
			$('.order_number').empty();
			$('.order_client_name').empty();
			$('.order_client_surname').empty();
			$('.order_client_tel').empty();
			$('.order_client_pan').empty();
			//insert data


			$('.order_time').prepend(order_time);
			$('.order_number').prepend(order_id);
			$('.order_client_name').prepend(client_name);
			$('.order_client_surname').prepend(client_surname);
			$('.order_client_tel').prepend(client_tel);
			$('.order_client_pan').prepend(client_pan);

			$('.modal_order_item').empty();

			var total_amount=0;
			$(this).children('.order_info').children('.order_items').children('.item').each(function(){

 			var item_price=$(this).children('.item_price').html();
			var item_quantity=$(this).children('.item_quantity').html();
			var item_sum=item_price*item_quantity;
 			total_amount+=item_sum;

			$('.modal_order').append('<div class="modal_order_item"><div class="modal_title order_item">'+$(this).children('.item_title').html()+'</div><div class="modal_quantity order_item"><span class="quant_counter">X</span>'+item_quantity+'</div><div class="modal_price order_item">'+item_price+' р.</div></div>')

			});

			$('.modal_total_amount').empty();
			$('.modal_total_amount').prepend(total_amount);

			//items in order
			var positions_counter=$(this).children('.order_info').children('.order_items').children('.item').length;
			for(var i=0;i<positions_counter;i++)
			{

			}
	 }

});

$('.submit_without').click(function(){

	 var order_id=$(this).parent('.modal_footer_item').parent('.modal_footer').parent('#info_modal').children('.modal_header').children('.number').children('.order_number').html();

	 $.post('done.php',{"order_id":order_id},function(resp)
	{
	     var response=JSON.parse(resp)

	     if(response['status']==1&&response['error']==0)
		 {
		     $('#info_modal').trigger('closeModal');
			 $('#'+order_id).css('background-color','rgba(113,205,107,0.1)')
	$('#'+order_id).fadeOut(1500);

		 }
	})

	})


$('#change_time').click(function(){

	$('.modal_order').empty();
	$('.modal_client').empty();
	$('.modal_total').remove();
	$('.modal_footer').remove();
	$('.modal_client').css('border-bottom','none');
	$('.modal_client').prepend('<div class="change_time"><div class="cal_image">Перенести на</div><div class="time_picker"><select class="selectpicker" id="time_changer"><option value="5">5 минут</option><option  value="10">10 минут</option><option  value="15">15 минут</option></select></div></div><div class="modal_footer2"><div class="stop">Отменить</div><div class="footer_dev"></div><div class="confirm">Подтвердить</div></div>')
	$('.selectpicker').selectpicker({
                'selectedText': 'cat'
            });

})
//time change accept
$('body').on('click',".confirm",function(){
	var mins=$("#time_changer").val();
	var time=$('.order_time').html();
	var number=$('.order_number').html();
$.post('check_time.php',{'mins':mins,"time":time,"order_id":number}, function(resp){

	 var response=JSON.parse(resp)
	 var order_id=response['info']['order_id']
	 var time=response['info']['time']
	 if(response['error']==0)
        {
		    $('#info_modal').empty();
			$('#info_modal').prepend('<div style="margin-top:130px;text-align:center;">Готовность заказа № '+order_id+' изменена на '+time+'</div>')
			setTimeout(function(){ location.reload();}, 3000);

		}
	})
})
$('body').on('click','.stop', function(){

	var order_id=$('.order_number').html();
	$('#'+order_id).trigger("click");
})
//return to card
$('body').on('click','#return', function(){

	var order_id=$('.order_number').html();
	var total_price=$('.modal_total_amount').html();
	var card_number=$('.order_client_card').html();

	$('.modal_order').empty();
	$('.modal_client').empty();
	$('.modal_total').remove();
	$('.modal_footer').remove();
	$('.modal_client').css('border-bottom','none');


	$('.modal_client').prepend('<div class="return_money"><div class="return_price">Сумма возврата: <span class="return_amount">'+total_price+' руб.</span></div><div class="card_number">Номер карты: <span class="card_pan">'+card_number+'</span></div><div><div >Комментарий</div><textarea class="return_comments" rows="2" cols="32"></textarea></div></div><div class="modal_footer2"><div class="stop">Отменить</div><div class="footer_dev"></div><div class="confirm_return">Подтвердить</div></div>')


})
$('body').on('click','.confirm_return', function(){
    var order_id=$('.order_number').html();
	var comment=$('.return_comments').val();

	$.post('return.php',{"order_id":order_id, "comment":comment},function(resp){
	         var response=JSON.parse(resp)
			 if(response['error']==0)
        {
		    $('#info_modal').empty();
			$('#info_modal').prepend('<div style="margin-top:130px;text-align:center;">Возврат за заказа № '+order_id+' успешно выполнен</div>')
			setTimeout(function(){ location.reload();}, 3000);

		}

		})

})
	 $(function()
	 {


        //Detect iPhone
        if(navigator.platform.indexOf("iPad") != -1){
		$('.navi_text').empty();
		}
        //Detect iPod

	 })

	</script>

</body>

</html>
