<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% include '/company/header.html' %}
    {% if success %}
        <div style="border: 1px solid black; padding: 4px 6px;">
            Изменения сохранены
        </div>
    {% endif %}
    <form method="post">
        <input type="text" name="lat" value="{{ lat }}" hidden>
        <input type="text" name="lon" value="{{ lon }}" hidden>
        <label>
            Название:
            <input type="text" name="title"
                    {% if venue %} value="{{ venue.title }}" {% endif %}>
        </label><br>
        <label>
            Адрес:
            <input type="text" name="description"
                    {% if venue %} value="{{ venue.description }}"
                    {% else %} value="{{ address }}"
                    {% endif %}>
        </label><br><br>

        <label>
            Изображение url: <input type="text" name="image_url"
                {% if venue %} value="{{ venue.pic or '' }}" {% endif %}>
        </label><br>
        <label>
            Изображение файл: <input type="file" name="image_file">
        </label><br><br>

        <label>
            Телефон для клиентов:
            <input type="text" name="called_phone"
                    {% if venue %} value="{{ venue.called_phone or '' }}" {% endif %}>
        </label><br>
        <label>
            Телефоны для СМС:
            <input type="text" name="phones"
                    {% if venue %} value="{{ ','.join(venue.phones) }}" {% endif %}>
        </label><br>
        <label>
            Почты:
            <input type="text" name="emails"
                    {% if venue %} value="{{ ','.join(venue.emails) }}" {% else %} value="{{ DEFAULT_EMAIL }}" {% endif %}>
        </label><br>
        <label>
            Юрлицо:
            <select name="legal" required>
                {% for legal in legals %}
                    <option value="{{ legal.key.id() }}" {% if venue and venue.legal == legal.key %}selected{% endif %}>
                        {{ legal.person_ooo or legal.person_ip }}
                    </option>
                {% endfor %}
            </select>
        </label><br>
        <br>
        <label>
            Проблема:
            <input type="text" name="problem" {% if venue %}value="{{ venue.problem or '' }}"{% endif %}>
        </label><br>
        <input type="submit"/>
        <a href="/company/venues">Назад к списку</a>
    </form>
</body>
</html>
