<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% include '/company/header.html' %}
    {% if success %}
        <div style="border: 1px solid black; padding: 4px 6px;">
            Изменения сохранены
        </div>
    {% endif %}
    <div>
        <a href="/company/venues/map">Добавить</a>
    </div>
    <form method="post">
        <table style="border-collapse:collapse; width:100%" border="1">
            <tr>
                <th>Статус</th>
                <th>Название</th>
                <th>Адрес</th>
                <th>Юрлицо</th>
                <th>Часовой пояс</th>
                <th>Телефоны</th>
                <th>Почты</th>
                <th>Выбрать зоны</th>
                <th>Перерывы</th>
                <th>Расписание</th>
            </tr>
            {% for venue in venues %}
                {% set height = venue.days|length if venue.days else 1 %}
                <tr>
                    <td rowspan="{{ height }}">
                        <input type="checkbox" name="{{ venue.key.id() }}" {% if venue.active %}checked{% endif %}/>
                    </td>
                    <td rowspan="{{ height }}">
                        <a href="/company/venues/{{ venue.key.id() }}">
                            {{ venue.title }}
                        </a>
                    </td>
                    <td rowspan="{{ height }}">
                        {{ venue.description }}
                    </td>
                    <td rowspan="{{ height }}">
                        {% set legal = venue.legal.get() if venue.legal else None %}
                        {{ (legal.person_ooo or legal.person_ip) if legal else '' }}
                    </td>
                    <td rowspan="{{ height }}">
                        {{ '+%s (%s)' % (venue.timezone_offset, venue.timezone_name) }}
                    </td>
                    <td rowspan="{{ height }}">
                        {{ ','.join(venue.phones) }}
                    </td>
                    <td rowspan="{{ height }}">
                        {{ ','.join(venue.emails) }}
                    </td>
                    <td rowspan="{{ height }}">
                        <a href="{{ '/company/venues/choose_zones?venue_id=%s' % venue.key.id() }}">Выбрать зоны</a>
                    </td>
                    <td rowspan="{{ height }}">
                        <a href="{{ '/company/venues/time_break?venue_id=%s' % venue.key.id() }}">Выбрать</a>
                    </td>
                    {% if venue.days %}
                        {% for day in venue.days %}
                            {% if loop.index0 == 0 %}
                                <td>
                                    <a href="{{ '/company/venues/schedule?venue_id=%s' % venue.key.id() }}">
                                        {{ day.str() }}
                                    </a>
                                </td>
                            {% else %}
                                <td>{{ day.str() }}</td>
                            {% endif %}
                            </tr><tr>
                        {% endfor %}
                    {% else %}
                        <td>
                            <a href="{{ '/company/venues/schedule?venue_id=%s' % venue.key.id() }}">Добавить</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <input type="submit"/>
        <a href="/company/main">Назад</a>
    </form>
</body>
</html>
