<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% include '/company/header.html' %}
    {% if success %}
        <div style="border: 1px solid black; padding: 4px 6px;">
            Изменения сохранены
        </div>
    {% endif %}
    <div>
        <a href="/company/venues/create">Создать кофейню (Лучше через карту, она ниже)</a>
    </div>
    <div>
        <a href="/company/venues/map">Карта</a>
    </div>
    <form method="post">
        <table style="border-collapse:collapse; width:100%" border="1">
            <tr>
                <th>Статус</th>
                <th>Название</th>
                <th>Адрес</th>
                <th>Дни</th>
                <th>Часы</th>
                <th>Выбрать зоны</th>
            </tr>
            {% for venue in venues %}
                <tr>
                    <td>
                        <input type="checkbox" name="{{ venue.key.id() }}" {% if venue.active %}checked{% endif %}/>
                    </td>
                    <td>
                        <a href="/company/venues/{{ venue.key.id() }}">
                            {{ venue.title }}
                        </a>
                    </td>
                    <td>{{ venue.description }}</td>
                    <td>{{ venue.working_days }}</td>
                    <td>{{ venue.working_hours }}</td>
                    <td>
                        <a href="{{ '/company/venues/choose_zones?venue_id=%s' % venue.key.id() }}">Выбрать зоны</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit"/>
        <a href="/company/main">Назад</a>
    </form>
</body>
</html>
