<html>
<head>
</head>
<body>
{% include '/company/header.html' %}

<a href="/company/config_settings/invitation_module_setup">Set up share invitation module</a><br>
<a href="/company/config_settings/create_branch_api_key">Branch API key</a><br>
<a href="/company/config_settings/inactive_users_notifications/">Настроить оповещение неактивным
    пользователям</a><br>
<a href="/company/config_settings/basket_notification_module_setup">Настройка оповещения пользователей с непустой
    корзиной</a><br>
<a href="/company/config-settings/order_message_module">Настройка сообщений к заказам</a><br>
<a href="/company/config_settings/config_google_analytics">Настройка ключей для Google Analytics</a>

<a href="/company/config_settings/order_module_setup">Настройка модуля заказа</a>


<br><br>

<form method="post">
    <label>
        Не принимать заказ если нет ни в одной зоне
        <input type="checkbox" name="reject_order_checkbox"
               {% if config.REJECT_IF_NOT_IN_ZONES %}checked{% endif %}>
        <input type="submit" value="Сохранить">
    </label>
</form>
<br>



<a href="/company/main">Back</a>
</body>
</html>