<html>
<head>
</head>
<body>
{% include '/company/header.html' %}

<a href="/company/config_settings/invitation_module_setup">Set up share invitation module</a><br>
<a href="/company/config_settings/create_branch_api_key">Branch API key</a><br>
<a href="/company/config_settings/inactive_users_notifications/list">Настроить оповещение неактивным пользователям</a><br>
<a href="/company/config_settings/basket_notification_module_setup">Настройка оповещения пользователей с непустой корзиной</a><br>

<a href="/company/main">Back</a>
</body>
</html>